w+,0,[test]: ./Build && ./Build test

/home/kueppo/projects/Term-Matrix/xt/boilerplate.t
/home/kueppo/projects/Term-Matrix/t/00-load.t
/home/kueppo/projects/Term-Matrix/t/pod.t
/home/kueppo/projects/Term-Matrix/t/pod-coverage.t
/home/kueppo/projects/Term-Matrix/t/manifest.t

end

w-,1,[make]: make && sudo make install
end

